<a routerLink="/">Go to Articles</a><br><br>
<h1>Users</h1>
<nav>
  <a *ngIf="links.next" class="list-title" href="{{ links.next }}">next</a>
  <a *ngIf="links.last" class="list-title" href="{{ links.last }}">last</a>
</nav>
<ul class="list" *ngIf="!showSpinner && users; else loading">
  <li class="list-item" *ngFor="let user of users; let i = index">
    <a class="list-title" routerLink="/juserdetail/{{ user.id }}">
      {{ user.id }}-{{ i+1 }}) {{ user.attributes.username + ' ' + user.attributes.name }}</a>
    <p class="list-description">{{ user.attributes.email }}</p>
  </li>
</ul>
<ng-template #loading>
  Loading...
</ng-template>
<p>joomla works!</p>

