
<h2>User Detail</h2>
<div class="detail" *ngIf="!showSpinner; else loading">
  
  <div *ngIf="user" class="info">
    <img class="avatar" [src]="user.attributes.mediafielduser">
    <h4 class="title">User: {{ user.attributes.username}}</h4>
    <h4 class="title">Name: {{user.attributes.name}}</h4>
    <p class="description">
     Registered: {{user.attributes.registerDate }}
    </p>
    <p class="description">
     Last visit: {{user.attributes.lastvisitDate }}
    </p>
  </div>
</div>
<button class="btn btn-sm btn-primary mr-1" (click)="goBack()">go back</button>
<ng-template #loading>
  <div>
    <span class="spinner-border spinner-border-lg align-center"></span>
    </div>
</ng-template>
