<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">AlikonWeb</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!currentUser">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="currentUser">
      <li class="nav-item">
        <a href="#" class="navbar-brand"> {{ username }}</a>
        <!--<a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>-->
       
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <nav class="navbar navbar-expand navbar-white">
    <a href="#" class="navbar-brand">Blog</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="/joomla" routerLinkActive="active">
        <a href="javascript:void(0)" class="nav-link">Users</a>
      </li>

      <li class="nav-item" routerLink="/local" routerLinkActive="active">
        <a href="javascript:void(0)" class="nav-link">local storage</a>
      </li>

      <li class="nav-item" routerLink="/search" routerLinkActive="active">
        <a href="javascript:void(0)" class="nav-link">Search</a>
      </li>
    </div>
  </nav>