<app-menu></app-menu>
<div class="detail" *ngIf="!showSpinner && article; else loading">
 <!-- <img class="avatar" [src]="user.avatar">-->
  <div class="info">
    <h2 class="title">{{ article.attributes.id + ' ' + article.attributes.title }}</h2>
    
      <div [innerHTML]="article.attributes.text"></div>
    
  </div>
</div>
<button class="btn btn-sm btn-primary mr-1" (click)="goBack()">go back</button>
<ng-template #loading>
  <div>
  <span class="spinner-border spinner-border-lg align-center"></span>
  </div>
</ng-template>

